.custom-container {
    max-width: 500px;
    margin: 0 auto;
}

.custom-card {
    max-width: 300px;
    margin: 0 auto;
}

.custom-heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.custom-alert {
    margin-bottom: 1rem;
}

.custom-card-title {
    font-size: 1.25rem;
}

.custom-card-text h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
}
