.card-body-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; 
  }
  
  .category-background {
    background-color: #f0f0f0; 
  }
  .btn btn-secondary mt-3{
    background-color: #ff5733; 
    color: #fff; 
    border: none; 
  }