.header {
  background: #fff;
  padding: 10px 20px; /* Espaçamento interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  position: relative; /* Para o efeito de rolagem */
  transition: all 0.3s ease; /* Transição suave para scroll */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px; /* Altura do logo */
}

.title {
  margin-left: 10px; /* Margem entre logo e título */
  font-size: 24px; /* Tamanho do texto */
}

.nav-list {
  list-style: none; /* Remove marcador da lista */
  display: flex;
  gap: 20px; /* Espaçamento entre os itens */
}

.nav-item {
  display: inline; /* Exibe itens na mesma linha */
}

.nav-link {
  text-decoration: none; /* Remove sublinhado */
  color: #000; /* Cor do texto */
}

.button {
  padding: 5px 10px; /* Espaçamento do botão */
  border-radius: 20px ; /* Remove borda */
  background-color: #239467; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  cursor: pointer; /* Cursor de ponteiro */
  transition: background-color 0.3s, color 0.3s; /* Transição suave para as alterações de cor */
  border: none;
}

.button:hover {
  background-color: #000000; /* Nova cor de fundo ao passar o mouse */
  color: #ffffff; /* Cor do texto ao passar o mouse */
}


.auth-buttons {
  display: flex; /* Alinhamento dos botões de autenticação */
  gap: 20px; /* Espaçamento entre os botões */
}
