.footer {
    background: linear-gradient(to bottom, #048552,#235742); 
    padding: 30px;
    color: #ffffff; 
    text-align: center; 
}

.links{
    display: flex;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
   
}
.social-media{
    display: flex;
    align-items: center;
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* src/assets/styles/App.css */
html, body {
    height: 100%;
    margin: 0;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  .footer {
    background-color: #f1f1f1; /* Ajuste a cor conforme necessário */
    padding: 1rem;
    text-align: center;
  }
  