.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #F5F5F5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease; /* Adiciona transição para esconder o cabeçalho */
}

.header.hidden {
  transform: translateY(-100%); /* Esconde o cabeçalho para cima */
}

.logo img {
  height: 80px; /* Ajuste conforme necessário */
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  margin: 0;
}

.navbar-nav a {
  text-decoration: none;
  color: #048552;
  font-size: 16px; /* Ajuste o tamanho da fonte se necessário */
}

.home-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.app-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-header-content .navbar-nav {
  display: flex;
  flex-direction: column; /* Exibe os links verticalmente na página inicial */
  gap: 10px;
}

.app-header-content .navbar-nav {
  display: flex; /* Exibe os links horizontalmente no restante do aplicativo */
  flex-direction: row;
  gap: 15px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: #048552;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-buttons button:hover {
  background-color: #036c43;
}

.title {
  font-size: 24px; /* Ajuste o tamanho da fonte do título conforme necessário */
}
